@charset 'utf-8';
@font-face {
          font-family: 'YouYuan';                
          src: url('../font/YouYuan.eot');                         
          src:
            url('../font/YouYuan.eot?#font-spider') format('embedded-opentype'),
            url('../font/YouYuan.woff2') format('woff2'),
            url('../font/YouYuan.woff') format('woff'),
            url('../font/YouYuan.ttf') format('truetype')
            url('../font/YouYuan.svg') format('svg');
          font-weight: normal;
          font-style: normal;
        }
p{
  font-family: 'YouYuan';                   
}